<!-- wp:template-part {"slug":"header","theme":"velvetine","area":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"background","layout":{"type":"constrained","contentSize":"100%"}} -->
<main
  class="wp-block-group has-background-background-color has-background"
  style="
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  "
>
  <!-- wp:pattern {"slug":"velvetine/post-cover"} /-->
  <!-- wp:pattern {"slug":"velvetine/tips-trending"} /-->
  <!-- wp:pattern {"slug":"velvetine/category"} /-->
  <!-- wp:pattern {"slug":"velvetine/showcase-latest-sidebar"} /-->
  <!-- wp:pattern {"slug":"velvetine/missed-blogs"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"velvetine","area":"footer"} /-->
